.header {
    height: rem(70px);
    margin-bottom: 7vh;
    background-color: var(--mantine-color-body);
    border-bottom: none;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: rem(7px);
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.logo {
    cursor: pointer;
    padding: rem(2px) rem(10px);
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-dark-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-primary-color-light), var(--mantine-color-dark-6));
    }
}

.linkLabel {
    margin-right: rem(5px);
}

.mobileItem {
    font-size: var(--mantine-font-size-lg);
    text-decoration: none;
    padding: rem(10px) rem(20px);
}

.nestedMobileItem {
    font-size: var(--mantine-font-size-md);
    text-decoration: none;
    padding: rem(8px) 0;
    border-radius: var(--mantine-radius-sm);
}
