@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  padding: 2rem 0;
  gap: 2rem;
}

.scrollContainer {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.scrollTrack {
  display: flex;
  gap: 2rem;
  animation: scroll-right 40s linear infinite;
  will-change: transform;

  &.reverse {
    animation: scroll-left 40s linear infinite;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 120px;
  flex-shrink: 0;
}
