.head {
    text-align: center;
    margin-bottom: var(--mantine-spacing-md);
}

.sub {
    text-align: center;
    margin-bottom: var(--mantine-spacing-md);
}

.topDiv {
    margin: 0 rem(20vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $mantine-breakpoint-md) {
        margin: 0 rem(10vw);
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 10vw;
}

.member {
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.imgBorder {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.teamImg {
    width: 100%;
    height: auto;

}

.h {
    margin: 0;
    margin-top: 0.5rem;
}

.member p {
    margin: 0;
}

.member h3 {
    font-size: 1rem;
}
