.title {
  font-size: rem(60px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  font-family: inherit;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(32px);
  }
}

.welcomeDiv {
  margin: 0 5%;
}

.header {
  background-image: url('/ColumbiaPride.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 300px;
}

.logoImage {
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .logoImage {
    max-height: 80px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .logoImage {
    max-height: 100px;
  }
}

@media (min-width: 769px) {
  .logoImage {
    max-height: 120px;
  }
}
