html, body {
    margin: 0;
    padding: 0;
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #FFFFFF !important;
    --mantine-color-text: var(--mantine-color-dark-7) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #18160C !important;
    --mantine-color-text: var(--mantine-color-dark-0);
}
